*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
  background-color: #f1f7ff;
  color: #000;
  
}
.navbar-toggler
{
  margin: 0px;
  
}
.container-fluid
{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.container
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
}
.new
{
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}
.new a
{
  color: white;
  font-size: smaller;
}
.new a:hover
{
  cursor: pointer;
  color: orange;
  transition: .2s
}
.new li
{
  display: inline;
}

.new li a.active
{
  border-bottom: 5px solid white;
}
.active
{
  border-bottom: 5px solid white;
}
.navbar
{
  padding-bottom: 0px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 270px;
    background: #f1f1f1;
    border-radius: 18px; 
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 35px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 18px;

  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .wrapper
  {
    border-radius: 18px;
  }
  .nav-link
  {
    color: white;
    font-size: 1em;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
   
    }
    .icon1
    {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    .phone
    {
      padding: 0px;
    }
    .phone h2
    {
      font-size: 25px;
      font-weight: bold;
    }
  /* The sidebar menu */
  .sidebar 
  {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f1f7ff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #111;
  display: block;
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: deepskyblue;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: #111;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 50%;
}

.openbtn:hover {
  background-color: #444;
}
.icon2
{
  margin-bottom: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

form.main{
/*border: 1px solid black;*/
width: auto;
margin: auto;
padding: 15px;
/*border-radius: 6px;*/
margin-bottom: 50px;
background-color: white;
/*box-shadow: 0.5px 0.5px 0.5px 0.5px grey;*/
}

form.main input[type=text], input[type=email], input[type=number]
{
width: 270px;
padding: 9px;
border: 1px solid black;
border-bottom: 1px solid rgb(175, 173, 173);
font-size: 16px;
transition: all .2s;
border-radius: 6px;
background-color: #f1f7ff;
border-radius: 6px;
margin-inline-start: 0;
}

form.main input[type=text]:focus, input[type=email]:focus,input[type=number]:focus{
outline: none;
/* border-bottom-color: green;*/
box-shadow: 0px 0px 15px grey;
background: white;
border-color: deepskyblue;
}

form.main input{
margin-top: 0;
}
form.main p{
font-family: 'Montserrat', sans-serif;
font-size: 16px;
}

h1{
font-family: 'Montserrat', sans-serif;
font-size: 22px;
text-align: left;
font-weight: bold;
}
h4
{
font-family: 'Montserrat', sans-serif;
color: black;
margin-block-end: 5px;
font-size: 20px;

}


textarea{
width: 90%;
font-family:'Montserrat', sans-serif;
font-size: 16px;
border-color: rgb(175, 173, 173);
padding: 15px;
transition: all .6s;
border-radius: 6px;
background-color: #f1f7ff;
}
textarea:focus{
outline: none;
border: 1px solid deepskyblue;
}

button.mainbtn {
color: white;
background-color: black;
border: 2px solid white;
border-radius: 6px;
padding: 15px 30px;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
margin: auto;
/*0display: ;*/
width: auto;
transition: all .2s;
}

button:hover{
cursor: pointer;
color: green;
background: white;
}
.picedit
{
  cursor: pointer;
  color: grey;
}
.picedit:hover
{
  color: deepskyblue;
}
.tabdview
{
  display: none;
}


@media only screen and (min-width:768px)
{
  
  form.example input[type=text] 
  {
    border-radius: 5px;
    width: 500px;
  }
   .navbar-toggler
  {
    float: right;
    order: 0;
    margin-left: 15px;
    margin-right: 0;
  }
  .navbar-brand
  {
    order: 1;
  }
  .navbar-header
   {
     display: flex;
   }
   form.main 
   {
     width: 500px;
     float: right;
     margin-top: -450px;
   }
   .openbtn
   {
     display: none;
   }
   h2
   {
    margin-bottom: 3rem;
   }
   a
   {
     color: dimgray;
   }
   a:hover
   {
     color: deepskyblue;
   }
   button.mainbtn 
   {
     display: block;
     
   }
   form.main
   {
     padding: 25px;
   }
   .tabdview
   {
     display: block;
   }
}
/*styling for desktop view*/
@media only screen and (min-width:1024px)
{
  form.main 
  {
    width: 800px;
    float: unset;
  }
  .navbar-brand      
  {
    order: 0;         
  }
}  
.card-footer
  {
    background-color: lightgrey;
    text-align: left;
    font-weight: bolder;
    color: black;
    font-size: large;
    display: block;
    padding: 7px;
  }
 .card-body
  {
    
    padding: 10px;
  }
  .card-text
  {
        font-size: 25px;
        font-weight: bolder;

  }
  .fft
  {
    color: deepskyblue;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    text-align: right;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  

